<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaoantech.electrombile"
    >
    <permission
        android:name="com.xunce.electrombile.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.xunce.electrombile.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>


    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeMain">
        <activity
            android:name=".ui.LaunchPageActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.ViewPager.ViewPagerActivity"
            android:label="ViewPager"/>
        <activity android:name=".ui.login.LoginMain.LoginMainActivity"
            android:label="LoginMain"/>
        <activity
            android:name=".ui.login.Login.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.Register.RegisterActivity"
            android:label="RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.login.ForgetPass.ForgetPassActivity"
            android:label="ForgetPassActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.FragmentMainActivity"
            android:label="FragmentMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.MainFragment.activity.Map.MapActivity"
            android:label="MapActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.main.MainFragment.activity.MapHistory.MapListActivity"
            android:label="MapListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.MainFragment.activity.PlayHistory.PlayHistoryActivity"
            android:label="PlayHistoryActivity"/>
        <activity android:name=".ui.main.SettingFragment.activity.CarManager.CarManagerActivity"
            android:label="CarManager"/>
        <activity android:name=".ui.AddDevice.CaptureActivity"
            android:label="Capture"/>
        <activity android:name=".ui.main.SettingFragment.activity.CarManager.CarInfoDetail.CarInfoDetailActivity"
            android:label="CarInfo"/>
        <activity android:name=".ui.main.SettingFragment.activity.CarManager.CarInfoRevise.CarInfoReviseActivity"
            android:label="CarInfoRevise"/>
        <activity android:name=".ui.main.SettingFragment.activity.UserManager.UserInfo.UserInfoActivity"
            android:label="userInfo"/>
        <activity android:name=".ui.main.SettingFragment.activity.UserManager.UserInfoRevise.UserInfoReviseActivity"
            android:label="userInfoRevise"/>
        <activity android:name=".ui.main.SettingFragment.activity.MapDownLoad.MapDownloadActivity"
            android:label="mapDownload"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.ChangePass.ChangePassActivity"
            android:label="changePass"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.SettingManagerActivity"
            android:label="SettingManager"/>
        <activity android:name=".ui.AddDevice.ChooseBindActivity"
            android:label="ChooseBind"/>
        <activity android:name=".ui.AddDevice.InputIMEI.InputIMEIActivity"
            android:label="InputBind"/>
        <activity android:name=".ui.main.MainFragment.activity.NotifyHistoryActivity.NotifyHistoryActivity"
            android:label="notifyHistory"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.AutoLock.AutoLockActivity"
            android:label="autolockSet"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.PhoneAlarm.PhoneAlarmActivity"
            android:label="PhoneAlarm"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.PhoneAlarm.PhoneAlarmResend.PhoneAlarmNoreceiveActivity"
            android:label="NoPhoneAlarm"/>
        <activity android:name=".ui.main.SettingFragment.activity.Record.RecordActivity"
            android:label="Record"/>
        <activity android:name=".ui.main.SettingFragment.activity.SettingManager.PhoneAlarm.PhoneAlarmAgreement.PhoneAlarmAgreementActivity"
            android:label="Agreement"/>
        <activity android:name=".ui.Other.AlarmActivity"
            android:label="Alarm"/>
        <activity android:name=".ui.main.SettingFragment.activity.AboutUs.AboutUsActivity"/>
        <activity android:name=".ui.Other.CropActivity"/>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="l76pyV9ZCjoXlN1WAGmyKBifviG9UVtO" />
        <meta-data android:name="leancloud" android:value="LeanCloud"/>



        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="${applicationId}"/>
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="${applicationId}"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <!-- Required. AppKey copied from Portal -->
        <meta-data android:name="JPUSH_APPKEY" android:value="b6b26e2547ad8e5f6018b225"/>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver
            android:name=".receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required     SDK intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required     SDK   intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required     SDK      intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required            intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional     Rich Push Javascript
     intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!--          /   since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
    </application>

</manifest>